.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  max-width: 90%;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1.5em;
  cursor: pointer;
  color: #888;
}

.modal img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.modal p {
  margin: 10px 0;
}

.modal-footer-left {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 0.9em;
  color: #888;
  gap: 6px;
}

